@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

.leaflet.bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top {
  z-index: 0 !important;
}

.rdrMonth {
  width: 100% !important;
}

.rdrCalendarWrapper {
  width: 100% !important;
  height: 100%;
  font-size: 16px !important;
}


/* Adjust color for months in dark mode */
.dark .rdrMonths .rdrMonth:not(.rdrDayPassive) {
  color: #fff; /* Change month text color */
}

/* Adjust color for month picker toggle menu in dark mode */
.dark .rdrMonths .rdrMonthPicker {
  background-color: #000; /* Change background color */
}

.dark .rdrMonths .rdrMonthPicker label {
  color: #ccc; /* Change label text color */
}

/* Adjust color for the list of months in dark mode */
.dark .rdrMonths .rdrMonthPicker .rdrMonths {
  background-color: #000; /* Change background color */
}

.dark .rdrMonths .rdrMonthPicker .rdrMonths .rdrMonth:not(.rdrDayPassive) {
  color: #fff; /* Change month text color */
}
